# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE and workspace files
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
out/

# Logs and temp files
*.log
*.tmp
*.swp
*.swo

# Compiled artifacts
*.class
*.jar
*.war
*.nar
*.ear

# Archives
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Local User Data 
user.json

# User images
/images/